*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Lato', sans-serif;
}
:root {
  --main-color: #35605A;
  --accent-color: #EAE0CC;
}
.AppContainer{

}
.AppContent{
  width: 70%;
  margin: auto;
  padding-top: 3vh;
  background-color: white;
  min-height: 100vh;
}

/* Navbar Styling */

.NavbarContainer{
  width: 100%;
  height: 8vh;
  position: fixed;
}
.Navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  margin-left: 20vw;
  line-height: 8vh;
  color: var(--main-color);
}
.Navbar h2{
  font-size: 1.4rem;
}
.Navbar a{
  color: var(--main-color);
}
.Navbar h2:hover{
  border-bottom: 2px solid var(--main-color);
}
.NavbarRight{
  display: inherit;
  flex-direction: inherit;
  justify-content: right;
  width: 20%;
  margin-right: 5%;
}

.NavbarLeft{
  width: 40%;
  display: inherit;
  flex-direction: inherit;
  justify-content: space-between;
}
.Logo{
  padding-top: 5px;
  height: 8vh;
  width: auto;
}
.fa-shopping-cart{
  padding-top: 2vh;
  font-size: 2rem !important;
}
/* Homepage */

.HomepageContainer{
  padding-top: 100px;
}
